body {
    background-color: #247BA0;
}

#title {
text-align: center;
color: #fb3640;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 5em;
border: solid #e2e2e2;
margin: auto;
}

.grid {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
}
.div {
    display: inline-flex;
    background-color: #e2e2e2;
    border: solid #fb3640;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    padding: 0;
    margin: 0 auto;
}

#abraham-lincoln {

}

.blank {

}