body {
    background-color: #247BA0;
}

#title {
text-align: center;
color: #fb3640;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 3em;
border: solid #e2e2e2;
margin: auto;
}

.container {
    position: fixed;
    top: 4em;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: inline;
    justify-content: space-between;
}
.div {
    display: inline-flex;
    background-color: #e2e2e2;
    border: solid #fb3640;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 10px;
}

#abraham-lincoln {

}

.blank {

}